@mixin contact-form-boxes {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(173, 170, 170);
}

@mixin section-title {
    color: white;
    font-size: 11vw;
    font-weight: 900;
    text-align: center;
}

// @mixin theme-bright {
//     background-color: #FCCD22;
//     color: black;
// }

// @mixin theme-muted {
//     background-color: rgb(254, 250, 255);
//     color: purple;
// }