// BIGHT COLOR THEME
$primary-color: #FCCD22;
$secondary-color: #C61561;
$primary-light: #F9DBE8;
$accent-color: #357E9B;
$text-color: #352C09;

// MUTED COLOR THEME
$primary-muted: rgb(254, 250, 255);
// $secondary-muted:
// $primary-light-muted:
// $accent-color-muted:
$text-color-muted: rgb(82, 38, 98);